In [1]:
import pandas as pd
import numpy as np

In [9]:
#11
'''Write a Pandas program to sort a given Series'''
ser = pd.Series([100,200,'Python',300.12,400])
ser.sort_values

<bound method Series.sort_values of 0       100
1       200
2    Python
3    300.12
4       400
dtype: object>

In [22]:
#12
'''Write a Pandas program to add some data to an existing Series'''
ser1 = pd.Series([500,'php'])
ser.append(ser1)

0       100
1       200
2    Python
3    300.12
4       400
0       500
1       php
dtype: object

In [25]:
#13
''' Write a Pandas program to create a subset of a given series based on value and condition'''
ser = pd.Series(range(10))
n = int(input('enter :'))
ser = ser[ser<n]
ser

enter :5

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [39]:
#14
'''Write a Pandas program to change the order of index of a given series'''
ser = pd.Series(range(1,6),index = ['a','b','c','d','e'])
ser.reindex(['b','a','c','d','e'])

b    2
a    1
c    3
d    4
e    5
dtype: int64

In [41]:
#15
'''Write a Pandas program to create the mean and standard deviation of the data of a given Series.'''
ser = pd.Series([1,2,3,4,5,6,7,8,9,5,3])
print('mean :',ser.mean())
print('standard deviation :',ser.std())

mean : 4.818181818181818
standard deviation : 2.522624895547565

In [71]:
#16
'''Write a Pandas program to get the items of a given series not present in another given series'''
ser1 = pd.Series(range(1,6))
ser2 = pd.Series(range(2,11,2))
ser1[~ser1.isin(ser2)]

0    1
2    3
4    5
dtype: int64

In [74]:
#17
'''Write a Pandas program to get the items which are not common of two given series'''
result = ser1[~ser1.isin(ser2)]
result.append(ser2[~ser2.isin(ser1)])

0     1
2     3
4     5
2     6
3     8
4    10
dtype: int64

In [79]:
#18
'''Write a Pandas program to compute the minimum,
25th percentile, median, 75th, and maximum of a given series'''
ser = pd.Series(np.linspace(1,20,14))
ser.quantile([0,0.25,0.5,0.75,1])

0.00     1.00
0.25     5.75
0.50    10.50
0.75    15.25
1.00    20.00
dtype: float64

In [132]:
#19
'''Write a Pandas program to calculate the frequency counts of each unique value of a given series'''
ser = pd.Series(np.random.randint(10, size=50))
ser.value_counts()

9    9
7    6
8    6
0    5
4    5
5    4
6    4
1    4
2    4
3    3
dtype: int64

In [133]:
#20
'''Write a Pandas program to display most frequent value in
a given series and replace everything else as 'Other' in the series.'''
x = ser.value_counts().index[0]
result = pd.Series(ser[ser != x].replace(list(ser[ser != x]),'other')).append(ser[ser == x]).sort_index()

other    41
9         9
dtype: int64