In [1]:
import pandas as pd
import numpy as np

In [31]:
#31
''' Write a Pandas program to compute the Euclidean distance between two given series'''
s1 = pd.Series(list(range(1,11)))
s2 = pd.Series([11,8,7,5,6,5,3,4,7,1])
sum((s1-s2)**2)/10

27.2

In [61]:
#32
'''Write a Pandas program to find the positions of the values
neighboured by smaller values on both sides in a given series'''
for i in range(1,11):
    if s2[i-1]< s2[i] and s2[i+1]<s2[i]:
        print(s2[s2==(i-1)])

6    3
dtype: int64
2    7
8    7
dtype: int64

KeyError: 10

In [77]:
#33
'''Write a Pandas program to replace missing white 
spaces in a given string with the least frequent character'''
s = pd.Series(list('abc def abcdef icd'))
s.value_counts()

c    3
     3
d    3
a    2
b    2
e    2
f    2
i    1
dtype: int64

In [78]:
#34
''' Write a Pandas program to create a TimeSeries to display all the Sundays of given year.'''
s = pd.Series(pd.date_range('2020-01-01', periods=52, freq='W-SUN'))
s[s.dt.day_name()=='Sunday']

0    2020-01-05
1    2020-01-12
2    2020-01-19
3    2020-01-26
4    2020-02-02
5    2020-02-09
6    2020-02-16
7    2020-02-23
8    2020-03-01
9    2020-03-08
10   2020-03-15
11   2020-03-22
12   2020-03-29
13   2020-04-05
14   2020-04-12
15   2020-04-19
16   2020-04-26
17   2020-05-03
18   2020-05-10
19   2020-05-17
20   2020-05-24
21   2020-05-31
22   2020-06-07
23   2020-06-14
24   2020-06-21
25   2020-06-28
26   2020-07-05
27   2020-07-12
28   2020-07-19
29   2020-07-26
30   2020-08-02
31   2020-08-09
32   2020-08-16
33   2020-08-23
34   2020-08-30
35   2020-09-06
36   2020-09-13
37   2020-09-20
38   2020-09-27
39   2020-10-04
40   2020-10-11
41   2020-10-18
42   2020-10-25
43   2020-11-01
44   2020-11-08
45   2020-11-15
46   2020-11-22
47   2020-11-29
48   2020-12-06
49   2020-12-13
50   2020-12-20
51   2020-12-27
dtype: datetime64[ns]

In [82]:
#36
'''Write a Pandas program to convert given series 
into a dataframe with its index as another column on the dataframe'''
s = pd.Series(list('abcde'))
pd.DataFrame({'values':s.values,
             'index':s.index})

  values  index
0      a      0
1      b      1
2      c      2
3      d      3
4      e      4

In [90]:
#37
'''Write a Pandas program to stack two given series vertically and horizontally'''
s1 = pd.Series(list('abcde'))
s2 = pd.Series(range(5,11))
print("vertically:")
print(pd.concat([s1,s2],axis=0))
print("horizontally:")
print(pd.concat([s1,s2],axis=1))

vertically:
0     a
1     b
2     c
3     d
4     e
0     5
1     6
2     7
3     8
4     9
5    10
dtype: object
horizontally:
     0   1
0    a   5
1    b   6
2    c   7
3    d   8
4    e   9
5  NaN  10

In [97]:
#38
'''Write a Pandas program to check the equality of two given series'''
s1 = pd.Series(range(10))
s2 = s1.copy()
s1==s2

0    True
1    True
2    True
3    True
4    True
5    True
6    True
7    True
8    True
9    True
dtype: bool

In [108]:
#39
'''Write a Pandas program to find the index of the first occurrence
of the smallest and largest value of a given series'''
s1 = pd.Series(np.random.randint(20,size=20))
print('smallest:')
print(s1[s1==s1.min()].index)
print('highest:')
print(s1[s1==s1.max()].index)

smallest:
Int64Index([10, 13], dtype='int64')
highest:
Int64Index([15], dtype='int64')

In [111]:
#40
'''Write a Pandas program to check inequality over the index axis of a given dataframe and a given series'''
df = pd.DataFrame({'W':[68,75,86,80,None],'X':[78,75,None,80,86], 'Y':[84,94,89,86,86],'Z':[86,97,96,72,83]});
s = pd.Series([68, 75, 86, 80, None]) 
df.ne(s,axis=0)

       W      X     Y     Z
0  False   True  True  True
1  False  False  True  True
2  False   True  True  True
3  False  False  True  True
4   True   True  True  True