In [1]:
import pandas as pd

In [8]:
#1
'''Write a Pandas program to create and display a one-dimensional array-like object 
containing an array of data using Pandas module'''
ser = pd.Series(range(1,6))
ser

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [10]:
#2
'''Write a Pandas program to convert a Panda module Series to Python list and it's type'''
ser.to_list()

[1, 2, 3, 4, 5]

In [22]:
#3
'''Write a Pandas program to add, subtract, multiple and divide two Pandas Series'''
ser1 = pd.Series([2, 4, 6, 8, 10])
ser2 = pd.Series([1, 3, 5, 7, 9])
print("Add :")
print(ser1+ser2)
print("Subtract :")
print(ser1-ser2)
print("Multiple :")
print(ser1*ser2)
print("Divide :")
print(ser1/ser2)

Add :
0     3
1     7
2    11
3    15
4    19
dtype: int64
Subtract :
0    1
1    1
2    1
3    1
4    1
dtype: int64
Multiple :
0     2
1    12
2    30
3    56
4    90
dtype: int64
Divide :
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [28]:
#4
'''Write a Pandas program to compare the elements of the two Pandas Series'''
print("> :")
print(ser1>ser2)
print("= :")
print(ser1==ser2)
print("< :")
print(ser1<ser2)

> :
0    True
1    True
2    True
3    True
4    True
dtype: bool
= :
0    False
1    False
2    False
3    False
4    False
dtype: bool
< :
0    False
1    False
2    False
3    False
4    False
dtype: bool

In [31]:
#5 
'''Write a Pandas program to convert a dictionary to a Pandas series.'''
dic = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
ser = pd.Series(data=dic.values(),index = dic.keys())
ser

a    100
b    200
c    300
d    400
e    800
dtype: int64

In [37]:
#6
'''Write a Pandas program to convert a NumPy array to a Pandas series'''
import numpy as np
arr = np.array([10,20,30,40,50])
ser = pd.Series(arr)
ser

0    10
1    20
2    30
3    40
4    50
dtype: int32

In [49]:
#7 
'''Write a Pandas program to change the data type of given a column or a Series. Go to the editor
Sample Series:'''
ser1 = pd.Series([100,200,'Python',300.12,400])
ser2 = pd.to_numeric(ser1,errors = 'coerce')
ser2

0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

In [60]:
#8
'''Write a Pandas program to convert the first column of a DataFrame as a Series'''
df = pd.DataFrame({'col1':[1,2,3,4,7,11],
                  'col2':[4,5,6,9,5,0],
                  'col3':[7,5,8,12,1,11]})
col1 = df.iloc[:,0]
col1

0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64

In [71]:
#9
'''Write a Pandas program to convert a given Series to an array'''
ser = pd.Series([100,200,'Python',300.12,400])
ser.to_numpy()

array([100, 200, 'Python', 300.12, 400], dtype=object)

In [111]:
#10
'''Write a Pandas program to convert Series of lists to one Series'''
ser =  pd.Series([['Red', 'Green', 'White'],['Red', 'Black'],['Yellow']])
ser = ser.apply(pd.Series).stack().reset_index(drop=True)
ser

0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object