In [167]:
import pandas as pd
import numpy as np

In [168]:
# 21
'''Write a Pandas program to find the positions of numbers that are multiples of 5 of a given series.'''
s = pd.Series(np.random.randint(0,20,10))
s[s%5==0].index

Int64Index([3, 7], dtype='int64')

In [169]:
#22
'''Write a Pandas program to extract items at given positions of a given series'''
s.take([3,2,7,4])

3    15
2     4
7    15
4     6
dtype: int32

In [170]:
#23
'''Write a Pandas program to get the positions of items of a given series in another given series'''
s1 = pd.Series(range(1,11))
s2 = pd.Series(range(1,11,2))
s1[s1.isin(s2)].index

Int64Index([0, 2, 4, 6, 8], dtype='int64')

In [171]:
#24
'''Write a Pandas program convert the first and last character of each word 
to upper case in each word of a given series'''
s = pd.Series(['php','python','java','c#'])
s = s.str.capitalize()
s

0       Php
1    Python
2      Java
3        C#
dtype: object

In [172]:
#25
'''Write a Pandas program to calculate the number of characters in each word in a given series'''
s.str.len()

0    3
1    6
2    4
3    2
dtype: int64

In [179]:
#28
'''Write a Pandas program to convert a series of date strings to a timeseries'''
s = pd.Series(['01 Jan 2015','10-02-2016','20180307','2014/05/06','2016-04-12','2019-04-06T11:20'])
pd.to_datetime(s)

0   2015-01-01 00:00:00
1   2016-10-02 00:00:00
2   2018-03-07 00:00:00
3   2014-05-06 00:00:00
4   2016-04-12 00:00:00
5   2019-04-06 11:20:00
dtype: datetime64[ns]

In [203]:
#28
'''Write a Pandas program to get the day of month, day of year,
week number and day of week from a given series of date strings'''
s = pd.to_datetime(s)
print('Day of month:',list(s.dt.day))
print('Day of year:',list(s.dt.dayofyear))
print('Week number:',list(s.dt.week))
print('Day of week:',list(s.dt.day_name()))

Day of month: [1, 2, 7, 6, 12, 6]
Day of year: [1, 276, 66, 126, 103, 96]
Week number: [1, 39, 10, 19, 15, 14]
Day of week: ['Thursday', 'Sunday', 'Wednesday', 'Tuesday', 'Tuesday', 'Saturday']

C:\Users\asus\AppData\Local\Temp/ipykernel_732/4196441487.py:7: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  print('Week number:',list(s.dt.week))

In [215]:
#29
'''Write a Pandas program to convert year-month string to dates adding a specified day of the month'''
s = pd.Series(['Jan 2015','Feb 2016','Mar 2017','Apr 2018','May 2019'])
s = pd.to_datetime(s)
s.apply(lambda x:x.replace(day=11))

0   2015-01-11
1   2016-02-11
2   2017-03-11
3   2018-04-11
4   2019-05-11
dtype: datetime64[ns]

In [219]:
#30
'''Write a Pandas program to filter words from a given series that contain atleast two vowels'''
s = pd.Series(['Red','Green','Orange','Pink','Yellow','White'])
s[s.str.count('(?i)[aeiou]')>=2]

1     Green
2    Orange
4    Yellow
5     White
dtype: object